<br />
<!-- Content -->
<div id="myModal" class="small" style='display:none; background: white;padding-top: 38px;'>
  <span class="main-listing">
    <h2 style="text-align: large-centered;">Please be patient</h2>
    <p class="lead">upload time depends on your connection</p>
  </span>
  <h2 style="text-align:center; background: white;z-index:999;">uploading files...</h2>
  <p class='text-center'><progress id='p' value='1' max='1000' style='width:60%'><span>0</span>%</progress></p>
  <br />
</div>

<%= nested_form_for @bw_file, url: admin_create_path, html: { multipart: true } do |f| %> 
  <%= hidden_field_tag "bw_file[email_ids][]", 6 %>         
  <div class="row">
    <span class="main-listing">
      <h2 style="text-align: large-centered;">Send someone a file</h2>
      <p class="lead">by choosing your recipients</p>
    </span>
    <hr />        
    <div class="large-12 columns">                      
    </div>
  </div>
  
  <div class="row">
    <div class="large-5 columns">
      <h4 class='subheader'>1. Attach Files</h4>
      <div id='attachments'>
        <%= render partial: 'home/bw_attachment_fields', locals: {f: f} %>
      </div>
    </div>
    <div class="large-5 columns end">
      <h4 class='subheader'>2. Choose Recipients</h4>
      <%= f.error_messages %>
      <%= f.text_field :receiver_email, class: 'input-text radius required', placeholder: 'one@example.com, two@example.com...' %>
      <%= f.text_area :name, class: 'input-text radius', rows: 5, placeholder: 'You can provide notes or instructions here.' %>        
      <%= submit_tag "Send", id: 'upload-button', class: 'button radius expand' %>
    </div>
  </div>  
<% end %>
    
  <hr />
  <h4 class='subheader'>Previous File Uploads</h4>

  <% @files.each_with_index do |bw_file, index| %>
    <table border="0" cellpadding="10" cellspacing="0" width="100%" class='<%= "hide" if index > 4 %>'>
      <tbody>
        <tr style="">
          <th scope="col" valign="top" width="25%" style="font-family: Helvetica; font-size: 14px; font-weight: bold; line-height: 150%; text-align: left;border: 1px solid #CCC;border-right: none;">
            DATE
          </th>
          <th scope="col" valign="top" width="50%" style="font-family: Helvetica; font-size: 14px; font-weight: bold; line-height: 150%; text-align: left;border: 1px solid #CCC;border-left: none;border-right:none">
            FILE NAME
          </th>
          <th style="color: red; font-family: Helvetica; font-size: 14px; font-weight: bold; line-height: 150%; text-align: right;padding-right: 8px;border: 1px solid #CCC;border-left: none;">
            <%= link_to "Delete", bw_file_path(bw_file), method: 'delete', data: {confirm: "Are you sure?"}, class: 'tiny alert label radius' %>
          </th>
        </tr>
        <% bw_file.bw_attachments.each do |attachment| %>
          <tr style="border: 1px solid #CCC;font-weight: bold;" style="background: <%= cycle("#EEEEEE", "#EFEFEF") %>">
            <td valign="top" style="border: 1px solid #CCC;border-top: none;border-right: none;">
              <%= attachment.created_at.strftime("%b %d, %Y") %>
            </td>
            <td valign="top" style="border-bottom: 1px solid #CCC;border-right: none;">
              <%= attachment.binary_file.original_filename %>
            </td>
            <td style="border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;">
              <a href="<%= attachment.binary_file.url %>" target="_blank" style="    color: #369; font-family: Arial; font-size: 15px; font-weight: bold; letter-spacing: -.5px; line-height: 100%; text-align: center;    padding: 4px 12px; text-decoration: underline;">
                Download
              </a>
              <%= attachment.binary_file_file_size.to(:mb) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<div class='large-12 columns text-center'>
  <a href='#' class='see-more text-center tiny center blue button radius'>See more files</a>
</div>

<!-- End Content -->
<% content_for :ready do %>
$('#upload-button').on('click', function(e){
  if ($('.fields:visible input[type="file"]').val() && $('#bw_file_receiver_email').val() ) {
    $('#myModal').show();
    $('#myModal').next('form').hide();    
    fakeUpload();
  }
});
<% end %>
