  <div class="row">
    <br>    
    <div class="twelve columns">
      <div class="row">
    <!-- Thumbnails 
 
        <div class="three mobile-two columns">
          <%= image_tag "step_1.png" %>
          <h6 class="panel">1. Login/Sign up</h6>
        </div>
 
        <div class="three mobile-two columns">
          <%= image_tag "step_2.png" %>
          <h6 class="panel">2. Click the send button</h6>
        </div>
 
        <div class="three mobile-two columns">
          <%= image_tag "step_3.png" %>
          <h6 class="panel">3. Enter an email address</h6>
        </div>
 
        <div class="three mobile-two columns">
          <%= image_tag "step_4.png" %>
          <h6 class="panel">4. Attatch a file</h6>
        </div>
 
    End Thumbnails -->
 
      </div>
    </div>
  </div>
 
 <br>
 <br>
 
  <div class="row">
    <div class="twelve columns">
      <div class="row">
 
    <!-- Content -->
 
        <div class="eight columns centered">
          <div class="panel radius">
            <div class="row">
              <%= form_for @bw_file, :url => bw_files_path, :html => { :multipart => true } do |f| %>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <h2 style="text-align: centered;">Send a file!</h2>
                    <p class="lead">just choose your recipients</p>
                    <div class="five columns">
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 1 %> Carrie Nagy</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 2 %> Mark Nead</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 3 %> Brian Willse</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 7 %> Tim Brennan</label>
                    </div>
                    <div class="five columns">
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 4 %> Jacob Wadenpfuhl</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 5 %> Seth Tipton</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 6 %> Dillon Hafer</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="two mobile-one columns">
                      <span class="prefix"><i class='general foundicon-paper-clip'></i></span>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.file_field :binary_file, class: 'input-text radius' %>
                      <br>
                    </div>
                      <%= submit_tag "Send", class: 'blue button nice radius full-width' %>
                  </div>
                </div>
              </div>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
 
       <script>
        $('input[type="checkbox"]').live('change', function(){
          $(this).prev('i').toggleClass('foundicon-mail').toggleClass('foundicon-checkmark')
          $(this).parent().toggleClass('is_green');
        })
       </script>
 
    <!-- End Content -->
 
      </div>

    <% content_for :reveal_modal do %>
      <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
        <h2>Login or sign up!</h2>
        <p class="lead">and send files to your heart's content</p>
        <%= form_for @user, :html => {:class => "nice"} do |f| %>
          <%= f.error_messages %>
          <%= f.label :email %>
          <%= f.text_field :email, :placeholder => "me@boondock.com", :class => "input-text" %>

          <%= f.label :password %>
          <%= f.password_field :password, :placeholder => "••••••", :class => "input-text" %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :placeholder => "••••••", :class => "input-text" %>

          <%= f.submit "Join", :class => "yellow button nice radius" %>
        <% end %>
        <a class="close-reveal-modal">&#215;</a>

        <h2>Login</h2>
        <%= form_tag sessions_path, :class => "nice" do %>
          <%= field_set_tag do %>
            <%= label_tag "Username" %>
            <%= text_field_tag :email, params[:email], :class => "input-text" %>

            <%= label_tag :password %>
            <%= password_field_tag :password, nil, :class => "input-text" %>

          <%= submit_tag "Log in", :class => "blue button nice radius" %>
          <br /><br />
          <% end %>
        <% end %>
      </div>
    <% end %>
