<br />
<br />
<br />
<!-- Content -->
<div id="myModal" class="small" style='display:none; background: white;padding-top: 38px;'>
  <span class="main-listing">
    <h2 style="text-align: large-centered;">Please be patient</h2>
    <p class="lead">upload time depends on your connection</p>
  </span>
  <h2 style="text-align:center; background: white;z-index:999;">uploading files...</h2>
  <p class='text-center'><progress id='p' value='1' max='1000' style='width:60%'><span>0</span>%</progress></p>
</div>

<%= nested_form_for @bw_file, url: bw_files_path, html: { multipart: true } do |f| %>          
  <div class="row">                
    <%= f.error_messages %>
    <div class="large-4 columns">
      <h4 class='subheader'>1. Attach Files</h4>
      <%= render partial: 'home/bw_attachment_fields', locals: {f: f} %>      
    </div>
    <div class="large-4 columns">       
      <h4 class='subheader'>2. Select Recipients</h4>
      <label for="bw_file[email_ids][]" class="error-message alert button tiny radius expand" style='display:none'>You must select at least one email.</label>               
      <label class="radius email-input"><i class='fi-mail'><%= check_box_tag "bw_file[email_ids][]", 2, nil, :class => 'email' %> <p>Mark Nead</p></i></label>
      <label class="radius email-input"><i class='fi-mail'><%= check_box_tag "bw_file[email_ids][]", 3, nil, :class => 'email' %> <p>Brian Willse</p></i></label>
      <label class="radius email-input"><i class='fi-mail'><%= check_box_tag "bw_file[email_ids][]", 7, nil, :class => 'email' %> <p>Tim Brennan</p></i></label>
      <label class="radius email-input"><i class='fi-mail'><%= check_box_tag "bw_file[email_ids][]", 5, nil, :class => 'email' %> <p>Seth Tipton</p></i></label>
      <label class="radius email-input"><i class='fi-mail'><%= check_box_tag "bw_file[email_ids][]", 6, nil, :class => 'email' %> <p>Dillon Hafer</p></i></label>
    </div>
    <div class='large-4 columns'>
      <h4 class='subheader'>3. Add Notes <small>(optional)</small></h4>
      <%= f.text_area :name, class: ' radius', rows: 5, placeholder: 'You can provide notes or instructions here.' %>
      <%= submit_tag "Send", id: 'upload-button', class: 'orange button radius expand' %>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
    </div>
  </div>
<% end %>
  
<!-- End Content -->
    
<% content_for :ready do %>
  $('input[type="checkbox"]').on('change', function(){
    $(this).parent().toggleClass('fi-mail').toggleClass('fi-check')
    $(this).parent().parent().toggleClass('is_green');
  })

  $('.email').on('change', function() {
    if ($('.email:checkbox:checked').length == 0) {
      $('.error-message').show();
      $('label.email-input').addClass('checkbox-error');
      $('label.email-input i.general').removeClass('fi-mail').addClass('fi-remove').addClass('red')
    } else {
      $('label[for="bw_file[email_ids][]"].error-message').hide();
      $('label.email-input').removeClass('checkbox-error');
      $('label.email-input i.general').addClass('fi-mail').removeClass('fi-remove').removeClass('red')
      $('label.email-input .email:checkbox:checked').parent().removeClass('fi-mail').addClass('fi-check').parent().addClass('is_green')
    }
  });

  $('#upload-button').on('click', function(e){
    if ($('.fields:visible input[type="file"]').val() && $('.email:checkbox:checked').length > 0) {
      $('#myModal').show();
      $('#myModal').next('form').hide();
      fakeUpload();   
    } else if ($('.email:checkbox:checked').length == 0) {
      $('.error-message').show();
      $('label.email-input').addClass('checkbox-error');
      $('label.email-input i.general').removeClass('fi-mail').addClass('fi-remove').addClass('red')
      e.preventDefault();
    }
  });
<% end %>       
