<style>
.errorExplanation h2 {display:none;}
</style>

  <div class="row">
    <br>    
    <div class="twelve columns">
      <div class="row">
      </div>
    </div>
  </div>
 
 <br>
 <br>
 
  <div class="row">
    <div class="twelve columns">
      <div class="row">
 
    <!-- Content -->
 
        <div class="eight columns centered">
          <div class="panel radius">
            <div class="row">
              <%= form_for @bw_file, :url => bw_files_path, :html => { :multipart => true } do |f| %>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <%= f.error_messages %>
                    <h2 style="text-align: centered;">Send a file!</h2>
                    <p class="lead">just choose your recipients</p>
                    <div class="five columns">
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 1 %> Carrie Nagy</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 2 %> Mark Nead</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 3 %> Brian Willse</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 7 %> Tim Brennan</label>
                    </div>
                    <div class="five columns">
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 4 %> Jacob Wadenpfuhl</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 5 %> Seth Tipton</label>
                      <label><i class='general foundicon-mail'></i><%= check_box_tag "bw_file[email_ids][]", 6 %> Dillon Hafer</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="twelve mobile-three columns centered">
                      <%= f.text_area :name, class: 'input-text radius', rows: 5, placeholder: 'You can provide notes or instructions here.' %>
                    </div>
                  </div>
                </div>
              <br>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="two mobile-one columns">
                      <span class="prefix"><i class='general foundicon-paper-clip'></i></span>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.file_field :binary_file, class: 'input-text radius' %>
                      <br>
                    </div>
                      <%= submit_tag "Send", id: 'upload-button', class: 'blue button nice radius full-width' %>
                  </div>
                </div>
              </div>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
 
       <script>
        $(document).ready(function() {
          $('input[type="checkbox"]').live('change', function(){
            $(this).prev('i').toggleClass('foundicon-mail').toggleClass('foundicon-checkmark')
            $(this).parent().toggleClass('is_green');
          })

          $('#upload-button').live('click', function(){
            $('#loading-bar-button').click()
          });
        })
       </script>
       <a id="loading-bar-button" data-reveal-id="myModal"></a>
 
    <!-- End Content -->
 
      </div>

    <% content_for :reveal_modal do %>
      <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small] centered">
        <h2 style="text-align:center">uploading...</h2>
        <p class="lead centered" style="
    background-image: url(/assets/loading-bar.gif);
    height: 71px;
    background-position: 0px -45px;
    background-repeat: no-repeat;margin: 0 auto;
width: 360px;
        "></p>
      </div>
    <% end %>
