<style>
.errorExplanation h2 {display:none;}
</style>

  <div class="row">
    <br>    
    <div class="twelve columns">
      <div class="row">
      </div>
    </div>
  </div>
 
 <br>
 <br>
 
  <div class="row">
    <div class="twelve columns">
      <div class="row">
 
    <!-- Content -->
 
        <div class="eight columns centered">
          <div class="panel radius">
            <div class="row">
              <%= form_for @bw_file, :url => bw_files_path, :html => { :multipart => true } do |f| %>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <%= f.error_messages %>
                    <span class="main-listing">
                    <h2 style="text-align: centered;">Send us a file</h2>
                    <p class="lead">by choosing your recipients</p>

                    </span>
                    <hr />
                    <div class="five columns">
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 1 %> <p>Carrie Nagy</p></i></label>
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 2 %> <p>Mark Nead</p></i></label>
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 3 %> <p>Brian Willse</p></i></label>
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 7 %> <p>Tim Brennan</p></i></label>
                    </div>
                    <div class="five columns">
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 4 %> <p>Jacob Wadenpfuhl</p></i></label>
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 5 %> <p>Seth Tipton</p></i></label>
                      <label><i class='general foundicon-mail'><%= check_box_tag "bw_file[email_ids][]", 6 %> <p>Dillon Hafer</p></i></label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="twelve columns centered">
                      <%= f.text_area :name, class: 'input-text radius', rows: 5, placeholder: 'You can provide notes or instructions here.' %>
                    </div>
                  </div>
                </div>
              <br>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="two mobile-one columns">
                      <span class="prefix" style="background: white;"><i class='general foundicon-paper-clip'></i></span>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.file_field :binary_file, class: 'input-text radius' %>
                      <br>
                    </div>
                      <%= submit_tag "Send", id: 'upload-button', class: 'blue button nice radius full-width' %>
                  </div>
                </div>
              </div>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
 
       <script>
        $(document).ready(function() {
          $('input[type="checkbox"]').live('change', function(){
            $(this).parent().toggleClass('foundicon-mail').toggleClass('foundicon-checkmark')
            $(this).parent().parent().toggleClass('is_green');
          })

          $('#upload-button').live('click', function(){
            $('#loading-bar-button').click()
          });
        })
       </script>
       <a id="loading-bar-button" data-reveal-id="myModal"></a>
 
    <!-- End Content -->
 
      </div>

    <% content_for :reveal_modal do %>
      <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small] centered">
        <h2 style="text-align:center; background: white;z-index:999;">uploading...</h2>
        <p class="lead centered" style="width: 350px;margin: 0 auto;">
          <%= image_tag "loading-bar.gif", style: 'width: 350px;position:relative;z-index:-999;top:-45px;' %></p>
      </div>
    <% end %>
