<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "BW Send" %></title>  
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />        
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">  
    <!-- Set the viewport width to device width for mobile -->
    <%= stylesheet_link_tag "application" %>    
    <%= javascript_include_tag "vendor/modernizr" %>    
    <%= csrf_meta_tags %>
  </head>
  <body>      
    <% if flash[:error] %>
      <div class='alert-box error'><%= flash[:error] %></div>
    <% end %>
   
     <div class="row">
        <div class="large-12 columns">
          <% if flash[:notice] %>
            <div data-alert class="alert-box success radius">
              <%= flash[:notice] %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
           <%= yield %>
       </div>
     </div>
 
    <!-- Footer -->
    <%= javascript_include_tag "application" %>    
    <script><%= yield(:ready) %></script>
  </body>
</html>
